setuptools
Cython
numpy
pandas
scipy
statsmodels
scikit-learn>=0.20.0
tensorboard_logger
tqdm
torchsummary
seaborn
captum
rtpt
h5py

# Added for SAX
aeon
matplotlib
huggingface-hub
attrs==23.1.0
datasets==3.0.2

